/* static/css/styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
  }
  
  header {
    background-color: #0288d1;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  a {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  ul li a {
    color: #0288d1;
    display: block;
    padding: 8px 12px;
    transition: background-color 0.3s;
  }
  
  ul li a:hover {
    background-color: #b3e5fc;
    color: #01579b;
  }
  
  footer {
    background-color: #0288d1;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
  }