<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1> <a href="{% url 'home' %}"> Мое приложение</a> </h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© {% now "Y" %} <a href="{% url 'home' %}">Мое приложение</a></p>
    </footer>
</body>
</html>